.App {
  text-align: center;
  font-size: 2em;
  color: blue;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px;
  margin-left: 8px;
}

#card {
  border-radius: 15px;
  background-size: 100px;
  background-color: lightskyblue;
  margin-top: 30px;
  margin-left: 300px;
  margin-right: 300px;
  margin-bottom: 30px;
}

#picture {
  height: 32em;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

.municipio {
  color: blue;
  font-size: 2em;
  font-family: Roboto, sans-serif;
  margin-bottom: 30px;
}

.temperature {
  color: rgb(206, 70, 206);
  font-weight: 300;
  font-size: 2em;
  font-family: Roboto, sans-serif;
}

.selectCity {
  color: blue;
  font-size: 1.5em;
  font-family: Roboto, sans-serif;
}
